.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movies, .directors{
  padding: 50px 90px;
  font-size: 24px;
  font-weight: bolder;
  border: none;
  color: darkgoldenrod;
  background-color: #3c424e;
  margin: 2%;
  cursor: pointer;
}
.movies:hover, .directors:hover{
  background-color: darkslategray;
}
.movies-containers,.directors-container{
  /* background-color: #3c424e; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  text-align: left;
}

.movies-cards,  .lists{
  /* color: chartreuse; */
  border: 8px solid black ;
}
.add-director{
  width: 40px;
}


.popup-add-container {
  position: fixed;
  background: rgb(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-edit-container{
  position: fixed;
  background: rgb(0, 0, 0, 0.02);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup {
  width: 50%;
  height: 50%;
  background: #b6b3b3;
  margin: 10% 0 0 20%;
  border-radius: 15px;
}

.close-button{
  position: relative;
  float: right;
}